html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  border:0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*=======================

========================*/



html{
	font-size:16px;
	height:100%;
}

body{
	margin:0;
	width:100%;
	background:url("back.jpg");
	height:100%;
}

body>header{
	width:100%;
	height:10%;
}

#landing{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
}



#landing_text{
	width:75%;
	max-width:1920px;
	    align-self: center;
	text-align:center;
	color:white;
	font-weight:lighter;
}

#landing_search{
	width:75%;
	max-width:1920px;
	align-self: center;	
	display: flex;
    justify-content: center;
}

#landing_search>div{
	width:25%;
	height:50%;
	text-align:center;
}

#landing_page_button{
}

#landing_page_button:focus{
	outline:0;
}

#typeahead{
	padding:0.8rem 0.5rem;
	width:125%;
	background-color: white !important;
}
.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color:  #5246e2;
}

.tt-suggestion p {
  margin: 0;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu{
  background:rgba(255,255,255,0.125);
  width:130%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#landing_page_button:active{
	outline:0;
}

#window_main{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
}

#window_main>div{
	width:60%;
	height:85%;
	margin:auto;
	background-color:white;
	min-width:540px;
}

#window_main>div>header{
	width:100%;
	height:10%;
	display:flex;
	justify-content:space-around;
}

#window_main>div>header>span{
	width:33.3333%;
	text-align:center;
	    display: flex;
    flex-direction: column;
    justify-content: center;
	box-sizing:border-box;
	border-bottom:2px transparent solid;
	font-weight:normal;
}

#window_main>div>header>span:hover{
	cursor:pointer;
	border-bottom-color: #5246e2;
	font-weight:bold;
}

#window_main>div>header>span.current{
	color:gold;
	font-weight:bold;
	border-bottom-color:#46e252;
}

#window_main>div>header>span.current:hover{
	border-bottom-color:#e25246;
}

.helper-text{
	    height: 10%;
    text-align: center;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25);
	    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

.inside-main{
	padding-top:0.5rem;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25);
	display:flex;
	width:100%;
	height:80%;
	justify-content:space-around;
	flex-wrap:wrap;
	background: white;
	overflow-y:scroll;
	box-sizing:border-box;
}

#location-main{
	padding-top:0.5rem;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25);
	display:flex;
	width:100%;
	height:80%;
	justify-content:space-around;
	flex-wrap:wrap;
	background: white;
	overflow-y:scroll;
	box-sizing:border-box;
}

.location-item{
	height:40%;
	width:45%;
	margin-left:2.5%;
	background-color:rgba(0,0,0,0);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.125);
	margin-top:1.25%;
	margin-bottom:1.25%;
	border-radius:5px;
	display:flex;
}

.location-item>img{
	width:50%;
	height:100%;
	border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.125);
}

.location-item>div{
	z-index:2;
	width:50%;
	display:flex;
	flex-direction:column;
}

.location-item>div>span{
	width:100%;
	padding-left:5%;
}
.location-item>div>span:nth-child(1){
	height:35%;
	
}
.location-item>div>span:nth-child(2){
	height:35%;
}
.location-item>div>span:nth-child(3){
	height:30%;
}


#location-main::-webkit-scrollbar {
    width: 0.5em;
}
 
#location-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
 
#location-main::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.75);
  outline: 1px solid slategrey;
}

.location-item2{
	height:40%;
	width:45%;
	margin-left:2.5%;
	background-color:rgba(0,0,0,0);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.125);
	margin-top:1.25%;
	margin-bottom:1.25%;
	border-radius:5px;
	display:flex;
	flex-wrap:wrap;
}

.location-item2>div{
	z-index:2;
	width:100%;
	display:flex;
	height:70%;
	flex-direction:column;
}

.location-item2>div.small-icons{
	width:100%;
	display:flex;
	height:30%;
	flex-direction:row;
	border-bottom:2px solid rgba(0,0,0,0.125);
	box-sizing:border-box;
	justify-content:space-between;
}

.location-item2>div.small-icons>i{
	font-size:3rem;
	text-align: center;
}

.flight-info{
	 
}


.is-loading::before{
content: " ";
    width: 90px;
    height: 90px;
    background-color: #359;
    top: 50%;
    right: 46.75%;
    position: absolute;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.is-loading2::before{
content: " ";
  width: 100px;
  height: 100px;
      top: 50%;
    right: 46.75%;
    position: absolute;
  background-color: #000;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 0.75s infinite ease-in-out;
  animation: sk-scaleout 0.75s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
	background-color: #000;
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
	background-color: #999;
  }
}