<!DOCTYPE html>
<html>
<head>
	<title>Stream To Wav</title>
	<script type="text/javascript" src="binary.min.js"></script>
</head>
<body>
	<button onClick="startRecording()">Start Recording</button>
	<button onClick="stopRecording()">Stop Recording</button>
	<script type="text/javascript" src="jquery-2.2.1.js"></script>
	<script type="text/javascript" src="recorder.js+"></script>
</body>
</html>