doctype
html
    head
        title= "Stream to Wav"
        script(src="binary.min.js")
    body
        button(onclick="startRecording()") Start Recording
        button(onclick="stopRecording()") Stop Recording
        script(src="jquery-2.2.1.js")
        script(src="recorder.js")
