<!DOCTYPE html>
<html lang="en">
    <script src='mapbox-gl.js'></script>
    <link href='mapbox-gl.css' rel='stylesheet' />
    <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <script type="text/javascript">
    </script>

</head>
<body>
    <style>
    .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .marker-title {
    font-weight: 700;
    }
    </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Destinify</title>
        <!-- Bootstrap Core CSS -->
        <link href="bootstrap.min.css" rel="stylesheet">
        <link href="animate.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="stylish-portfolio.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                <li class="sidebar-brand">
                    <a href="#top"  onclick = $("#menu-close").click(); >Start Bootstrap</a>
                </li>
                <li>
                    <a href="#top" onclick = $("#menu-close").click(); >Home</a>
                </li>
                <li>
                    <a href="#about" onclick = $("#menu-close").click(); >About</a>
                </li>
                <li>
                    <a href="#services" onclick = $("#menu-close").click(); >Services</a>
                </li>
                <li>
                    <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
                </li>
                <li>
                    <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
                </li>
            </ul>
        </nav>
        <!-- Header -->
        <header id="top" class="header">

            <div class="text-vertical-center" id="start">
                <h1>Destinify</h1>
                <h3>Travel with a click</h3>
                <br>
                <a onclick="start()" id="start-btn" class="btn btn-dark btn-lg">Take Me Somewhere</a>
            </div>

            <div id="map"></map>
                <div  class="text-vertical-center container" style="display:none;">


                    <!--<div id="map">-->

                </div>


            </header>

            <style type="text/css">
            div.list-group-item {
            height:auto;
            min-height:220px;
            }
            div.list-group-item.active small {
            color:#fff;
            }
            .stars {
            margin:20px auto 1px;
            }
            @media (min-width: 992px)
            {
            .modal-lg {
            width: 1265PX;
            }
            }


            .loader,
.loader:before,
.loader:after {
 background: #ffffff;
 -webkit-animation: load1 1s infinite ease-in-out;
 animation: load1 1s infinite ease-in-out;
 width: 1em;
 height: 4em;
}
.loader:before,
.loader:after {
 position: absolute;
 top: 0;
 content: '';
}
.loader:before {
 left: -1.5em;
 -webkit-animation-delay: -0.32s;
 animation-delay: -0.32s;
}
.loader {
 color: #000;
 text-indent: -9999em;
 margin: 88px auto;
 position: relative;
 font-size: 11px;
 -webkit-transform: translateZ(0);
 -ms-transform: translateZ(0);
 transform: translateZ(0);
 -webkit-animation-delay: -0.16s;
 animation-delay: -0.16s;
}
.loader:after {
 left: 1.5em;
}
@-webkit-keyframes load1 {
 0%,
 80%,
 100% {
   box-shadow: 0 0;
   height: 4em;
 }
 40% {
   box-shadow: 0 -2em;
   height: 5em;
 }
}
@keyframes load1 {
 0%,
 80%,
 100% {
   box-shadow: 0 0;
   height: 4em;
 }
 40% {
   box-shadow: 0 -2em;
   height: 5em;
 }
}
            </style>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Select Best Flight Search</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="list-group">




                                 </div>

                                <div class="col-md-2"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

               <div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Select Best Hotels</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="list-group2">




                                 </div>

                                <div class="col-md-2"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



            <script type="text/javascript">

                var places = {
            1:'SFO',
            2:'SJC',
            3:'CDG',
            4:'YYZ',
            };


            function start()
            {
                $('#start-btn').html("Processing Data....");

                setTimeout(function(){
                $('#start').addClass("animated fadeOutUp").delay(2000);
                $('#start').hide();
                $('#data-section').show();
                $('#data-section').addClass("animated fadeInDown");
                var long=[37.7749,50.8566,37.3861,40.7128 ];
                var lat=[-122.4194,2.3532,-122.0839,-74.0059 ];
                console.log(lat[0]);
                mapboxgl.accessToken = 'pk.eyJ1Ijoibml0aW4xMjMiLCJhIjoiNTMwZmUzNTQ1NzRkYmY4OTE1MjJkOTNhNmRlMGE4ZDYifQ.IYlLXR8kgPwt137K_x7Nzg';
                var markers = {
                "type":"FeatureCollection",
                "features":[
                {
                "type":"Feature",
                "properties": {
                "description": "<div class=\"marker-title\">Make it Mount Pleasant</div><p><a href=\"http://www.mtpleasantdc.com/makeitmtpleasant\" target=\"_blank\" title=\"Opens in a new window\">Make it Mount Pleasant</a> is a handmade and vintage market and afternoon of live entertainment and kids activities. 12:00-6:00 p.m.</p> <button onclick=\"afterlocation(1)\">Show Location</button>",
                "marker-symbol": "star",
                "marker-size":"large",
                "marker-color":"#faaf34"
                },
                "geometry":{
                "type":"Point",
                "coordinates":[lat[0],long[0]]
                }

                },
                {
                "type":"Feature",
                "properties": {
                "description": "<div class=\"marker-title\">Make it Mount Pleasant</div><p><a href=\"http://www.mtpleasantdc.com/makeitmtpleasant\" target=\"_blank\" title=\"Opens in a new window\">Make it Mount Pleasant</a> is a handmade and vintage market and afternoon of live entertainment and kids activities. 12:00-6:00 p.m.</p>",
                "marker-symbol": "star",
                "marker-size":"large",
                "marker-color":"#faaf34"
                },
                "geometry":{
                "type":"Point",
                "coordinates":[lat[1],long[1]]
                }
                },
                {
                "type":"Feature",
                "geometry":{
                "type":"Point",
                "coordinates":[lat[2],long[2]]
                },
                "properties": {
                "description": "<div class=\"marker-title\">Make it Mount Pleasant</div><p><a href=\"http://www.mtpleasantdc.com/makeitmtpleasant\" target=\"_blank\" title=\"Opens in a new window\">Make it Mount Pleasant</a> is a handmade and vintage market and afternoon of live entertainment and kids activities. 12:00-6:00 p.m.</p> <button onclick=\"afterlocation(2)\">Show Location</button>",
                "marker-symbol": "star",
                "marker-size":"large",
                "marker-color":"#faaf34"
                }

                },
                {
                "type":"Feature",
                "properties": {
                "description": "<div class=\"marker-title\">Make it Mount Pleasant</div><p><a href=\"http://www.mtpleasantdc.com/makeitmtpleasant\" target=\"_blank\" title=\"Opens in a new window\">Make it Mount Pleasant</a> is a handmade and vintage market and afternoon of live entertainment and kids activities. 12:00-6:00 p.m.</p> <button onclick=\"afterlocation(3)\">Show Location</button>",
                "marker-symbol": "star",
                "marker-size":"large",
                "marker-color":"#faaf34"
                },
                "geometry":{
                "type":"Point",
                "coordinates":[lat[3],long[3]]
                }

                }
                ]
                };
                /*
                for(var i=0;i<3;i++)
            {
            geojson.features.geometry.coordinates.push([lat[i], long[i]]);
            }
            */
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v8',
                center: [37, 70],
                zoom: 1
                });
                map.on('load', function () {
                // Add marker data as a new GeoJSON source.
                map.addSource("markers", {
                "type": "geojson",
                "data": markers
                });
                // Add a layer showing the markers.
                map.addLayer({
                "id": "markers",
                "type": "symbol",
                "source": "markers",
                "layout": {
                "icon-image": "{marker-symbol}-15",
                "icon-allow-overlap": true
                }
                });
                });
                // When a click event occurs near a marker icon, open a popup at the location of
            // the feature, with description HTML from its properties.
            map.on('click', function (e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ['markers'] });
            if (!features.length) {
            return;
            }
            var feature = features[0];
            // Populate the popup and set its coordinates
            // based on the feature found.
            var popup = new mapboxgl.Popup()
            .setLngLat(feature.geometry.coordinates)
            .setHTML(feature.properties.description)
            .addTo(map);
            });
            // Use the same approach as above to indicate that the symbols are clickable
            // by changing the cursor style to 'pointer'.
            map.on('mousemove', function (e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ['markers'] });
            map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
            });



            },500);



            }// start end

            </script>

<script type="text/javascript">

  var abc;

            function afterlocation(val)
            {



var key='2Y08eKtQIJMBqmxUA4zALAEjkTzznOXt';

var from_city="SEA";
var to_city=places[val.toString()];

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==1)
    {
        $('.list-group').html('<div class="loader">Loading...</div>');
    }
  else if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    //  $("#json").html(JSON.stringify(xmlhttp.responseText));
    $('.list-group').html('');
      abc=JSON.parse(xmlhttp.responseText);
      //console.log(xmlhttp.responseText);
    //  console.log(abc);
    console.log(abc.legs[0].segments[0].departureTime);
  var count=0;

for(var i=0;i<6;i++)
{

var an=abc.legs[i].segments[0].airlineName;
var img=an.toLowerCase();
img=img.replace(/\s+/, "");
   $('.list-group').append(
    '<div href="#" class="list-group-item"><div class="media col-md-3"><figure class="pull-left">'+
    '<img class="media-object img-rounded img-responsive"  src="https://logo.clearbit.com/'+img+'.com" alt="'+an+'" >'+
    '</figure></div><div class="col-md-6"><h4 class="list-group-item-heading"> List group heading </h4>'+'<p class="list-group-item-text"><br><h2><b>Airline Name:</b/>'+an+'</h2> <b>departure Time:<b>' + abc.legs[i].segments[0].departureTime + '<br> <b> arrival Time: <b>'  + abc.legs[i].segments[0].arrivalTime +
    '</p></div><br><div class="col-md-3 text-center"> <b>price:</b><h2> $ ' + abc.offers[i].baseFarePrice.amount + '</h2>'
    +'<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" onclick="showdata()"> SELECT</button><div class="stars"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div><p> Average 4.5 <small> / </small> 5 </p></div></div>');

    };

}
  }
 xmlhttp.open("GET","http://terminal2.expedia.com/x/mflights/search?departureAirport=LAX&arrivalAirport=ORD&departureDate=2016-06-22&childTravelerAge=2&apikey=2Y08eKtQIJMBqmxUA4zALAEjkTzznOXt");

xmlhttp.send();


            $('#myModal').modal("show");
            var x = JSON.parse(JSON.stringify(places));
            console.log(x[val.toString()]);
            /*$.post('http://localhost:3700/callout',{place:x[val.toString()]},function(res){
                console.log(res);
            });
            $.post('http://localhost:3700/callout',{place:"new york"},function(res){
                console.log(res);
            });*/
            //var x = JSON.parse(JSON.stringify(places));
            //console.log(x[val.toString()]);
          //  $.post('http://localhost:3700/callout',{place:x[val.toString()]},function(res){console.log(res); });
            }

 var abc2;

            function showdata(val)
            {

                $('#myModal').modal("hide");

var key='2Y08eKtQIJMBqmxUA4zALAEjkTzznOXt';

//var from_city="SEA";
//var to_city=places[val.toString()];

if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==1)
    {
        $('.list-group2').html('<div class="loader">Loading...</div>');
    }
  else if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    //  $("#json").html(JSON.stringify(xmlhttp.responseText));
    $('.list-group2').html('');
      abc2=JSON.parse(xmlhttp.responseText);
      //console.log(xmlhttp.responseText);
    //  console.log(abc);
   // console.log(abc.legs[0].segments[0].departureTime);
  var count=0;
  var hotels = abc2.hotelList;
for(var i=0;i<6;i++)
{

var an=hotels[i].name;
var img=an.toLowerCase();
img=img.replace(/\s+/, "");
   $('.list-group2').append(
    '<div href="#" class="list-group-item"><div class="media col-md-3"><figure class="pull-left">'+
    '<img class="media-object img-rounded img-responsive"  src="/hotel.png"  width = "90px"height="5px"alt="'+an+'" >'+
    '</figure></div><div class="col-md-6"><h4 class="list-group-item-heading"> List group heading </h4>'+'<p class="list-group-item-text"><br><h2><b>Hotel Name:</b/>'+an+'</h2> <b>address:<b>' + hotels[i].address + '<br> <b> star rating: <b>'  + hotels[i].hotelStarRating+
    '</p></div><br><div class="col-md-3 text-center"> <b>price:</b><h2> $ ' + hotels[i].lowRateInfo.averageRate + '</h2>'
    +'<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" onclick="showdata()"> SELECT</button><div class="stars"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div><p> Average 4.5 <small> / </small> 5 </p></div></div>'
    );

    };

}
  }
 xmlhttp.open("GET","http://terminal2.expedia.com/x/mhotels/search?city=SEATTLE&checkInDate=2016-12-01&checkOutDate=2016-12-03&room1=2&apikey=2Y08eKtQIJMBqmxUA4zALAEjkTzznOXt");

xmlhttp.send();


            $('#myModal2').modal("show");

            //var x = JSON.parse(JSON.stringify(places));
            //console.log(x[val.toString()]);
          //  $.post('http://localhost:3700/callout',{place:x[val.toString()]},function(res){console.log(res); });

            }



</script>
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 text-center">
                            <h4><strong>Start Bootstrap</strong>
                            </h4>
                            <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="jquery-2.2.1.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="bootstrap.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
        $('html,body').animate({
        scrollTop: target.offset().top
        }, 1000);
        return false;
        }
        }
        });
        });
        </script>
    </body>
</html>
